* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.title {
    text-align: center;
    font-size: 2rem;
}
.info-container {
    margin: 0 auto;
    height: 50vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}
.redes_container {
    display: flex;
    gap: 0.5rem;
}
.list-items a img {
    width: 2rem;
}