*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    align-items: ;
}

body{
    font-family:Reddit Sans Condensed;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.general {
    display: flex;
    align-items: center;
    margin: 0 auto;
    
}
.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color:#fff;}


.general-1{
    background-image: url(imagenes/cali.svg.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%; 
}